<div class="col-md-6">
  <div id="index_workouts">
    <% @workouts.each do |workout| %>
      <div class="panel panel-default index">
        <div class="container">
          <h4>
            <%= link_to workout.date.strftime("%A %B %d"), workout %>
          </h4>
          <p>
            <span>Workout:</span>
            <%= workout.workout %>
          </p>
        </div> 
      </div>
    <% end %>     
  </div>  
</div>